<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Hacker News</h1>
    <p>Hacker News clone built with Ruby/Rails/Angular.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="#" role="button">Log In</a>
    </p>
  </div>

</div> <!-- /container -->