<form id="new_task" class="ng-pristine ng-valid" ng-submit="submitPost()">
<div class="modal-header">
    <h3>Submit Post</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="text" placeholder="Title" ng-model="post.title" maxlength="255" id="taskDescription" data-non-blank="" class="form-control input-lg ng-pristine ng-valid" autofocus="autofocus" required="required">
  </div>
  <div class="form-group">
    <input type="text" placeholder="URL" ng-model="post.url" maxlength="255" id="taskDescription" data-non-blank="" class="form-control input-lg ng-pristine ng-valid" autofocus="autofocus" required="required">
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</form>
